.BrandGrid__brand-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 25px;
    padding-left: 200px;
    padding-top: 50px;
    padding-right: 200px;
  }