.BrandTile__brand-tile{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
    background-color: whitesmoke;
}

.BrandTile__brand-tile:hover{
  background-color: rgb(191, 191, 191);
  
}
  
.BrandTile__brand-name{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
}
  
.BrandTile__brand-logo{
    max-width: 100px;
    max-height: 100px;
}

.BrandTile__brand-tile:hover{
    cursor: pointer;
}