.Cart_cart-button{
    background-color: white;
    padding:5px;
  
    border: none;
    margin-top: 50px;
    border-radius: 5px;
    display: block;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    
  
}
  
.Cart_cart-button:hover{
    cursor: pointer;
  
}
  
@media (min-width:1100px) {
    .Cart__cart-container {
        flex: 0 0 30%; /* 30% genişlik */
        padding: 20px;
        box-sizing: border-box; /* Padding'in genişliğe dahil edilmesi için */
        /* background-color: #d0d0d0; İsteğe bağlı arka plan rengi */
        /* background-image: url('../src/assets/images/background-image.jpg'); */
        background-color: aliceblue;
        overflow: hidden;
    }
}
  
@media (max-width:1100px){
    .Cart__cart-container{
        display: none;
    }
}