/* Cart.css */
.Cart__cart-container {
    flex: 0 0 30%;
    padding: 20px;
    box-sizing: border-box;
    background-color: aliceblue;
    overflow-y: auto;
    height: 100vh;
}

.Cart__title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-top: 50px;
}

.Cart__item-list {
    list-style-type: none;
    padding: 0;
}

.Cart__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.Cart__added-cart-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 15px;
}

.Cart__item-details p {
    margin: 0;
}

.Cart__item-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.Cart__item-actions button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
}

.Cart__total-price {
    font-weight: bold;
    margin-top: 20px;
}

.Cart__remove-all {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

@media (max-width: 1100px) {
    .Cart__cart-container {
        display: none;
    }
}