/* BrandModal.css */


.BrandModal__overlay {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.BrandModal__modal {
    width: 100%;
    height: 100vh !important;
    max-width: 600px;
    background-color: white !important;
    border-radius: 8px;
    overflow: auto;
}

.BrandModal__header {
    background-color: #00796b;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the items horizontally */
    position: relative; /* To position the button absolutely */
}

.BrandModal__back-button {
    background: none !important;
    border: #e2e2e29f solid 2px !important;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 24px;
    cursor: pointer;
    position: absolute; /* Position the button absolutely */
    left: 10px; /* Adjust as needed */
    top: 50%; /* Center the button vertically */
    transform: translateY(-50%); /* Adjust for exact vertical centering */
}

.BrandModal__back-button:hover {
    background-color: #005f56 !important;
    border-color: white !important;
}

.BrandModal__heading {
    font-size: 18px;
    padding: 0; /* Adjust padding if needed */
    margin: 0; /* Ensure no extra margin */
    display: block;
}

.BrandModal__image-content {
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1; /* Allow the content area to grow and take up available space */
    text-align: center;

}

.BrandModal__image {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.BrandModal__add-to-cart-button{
    border: green solid 2px;
    display: block;
    margin-left: 40%;
}

#item-id, #item-price, #item-size{
    display: none;
}