.BrandGrid__brand-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 20fr));
    grid-template-rows: repeat(auto-fill, minmax(90px, 20fr));
    /*padding-left: 100px;*/
    padding-top: 50px;
    /*padding-right: 100px;*/
    padding-bottom: 50px;
    gap: 10px;
    max-width: 900px;
    margin: auto;
}

