 /* App.css */
 
 body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f0ece3;
  min-height: 100vh!important;
  min-width:100vw!important;
  background-image: url('../src/assets/images/background-image.jpg');
}
/* burada ki vw değeri ekran kadar anlamına geliyor 50vw yaparsam ekranın yarısı şeklinde oluyor */

.App__content {
  display: flex;
  flex: 1;
}

@media (min-width:1200px) {
  .App__main {
    flex: 0 0 70%; /* 70% genişlik */
    overflow-y: auto; /* Dikey kaydırma */
    padding: 20px;
    box-sizing: border-box; /* Padding'in genişliğe dahil edilmesi için */
    background-image: url('../src/assets/images/background-image.jpg');
  }
}